.container {
  padding-left: 120px;
  padding-right: 120px;
  padding-top: 80px;
  padding-bottom: 32px;
}

.search {
  display: flex;
  gap: 8px;
  align-items: center;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-top: 80px;
}

.cards-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.cards-empty__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 160%;
  text-align: center;
  color: #767e94;
  max-width: 600px;
}
